<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.work.mapper.user.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.work.domain.user.Company" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="people" property="people" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="CompanyInfo" type="com.work.domain.user.Company">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="people" property="people" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <collection property="jobs" ofType="com.work.domain.job.Job">
      <id column="jid" property="id"></id>
      <result column="jname" property="name" jdbcType="VARCHAR" />
      <result column="salary" property="salary" jdbcType="INTEGER" />
      <result column="jaddress" property="address" jdbcType="VARCHAR" />
      <result column="edu" property="edu" jdbcType="VARCHAR" />
      <result column="exp" property="exp" jdbcType="INTEGER" />
      <result column="jinfo" property="info" jdbcType="VARCHAR" />
      <result column="required" property="required" jdbcType="VARCHAR" />
      <result column="comid" property="comid" jdbcType="INTEGER" />
      <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, people, type, address, info, image, flag
  </sql>
  <select id="selectByCompanyId" resultMap="CompanyInfo">
    select com.*, j.id jid, j.name jname, j.salary salary,j.address jaddress,
     j.edu edu,j.exp exp,j.info jinfo, j.required required, j.comid comid,j.createtime createtime
      from t_company com left join t_job j on j.comid = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.work.domain.user.Company" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_company (name, people, type, 
      address, info, image, 
      flag)
    values (#{name,jdbcType=VARCHAR}, #{people,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{address}, #{info,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR},
      #{flag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.work.domain.user.Company" >
    update t_company
    set name = #{name,jdbcType=VARCHAR},
      people = #{people,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      address = #{address},
      info = #{info,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>