<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.work.mapper.user.LoginMapper" >
  <resultMap id="BaseResultMap" type="com.work.domain.user.Login" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email"/>
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password,email, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_login
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUsernameOrEmail" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_login
    where username = #{name} or email=#{name}
  </select>
  <insert id="insert" parameterType="com.work.domain.user.Login" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_login (username, password,email, flag
      )
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},#{email}, #{flag,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.work.domain.user.Login" >
    update t_login
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email},
      flag = #{flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>