<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhaopin.mapper.ResumeMapper" >
  <resultMap id="BaseResultMap" type="com.zhaopin.pojo.Resume" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="edu" property="edu" jdbcType="VARCHAR" />
    <result column="workflag" property="workflag" jdbcType="CHAR" />
    <result column="exp" property="exp" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="CHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, edu, workflag, exp, money, city, image, job, flag, info
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_resume
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_resume
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhaopin.pojo.Resume" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_resume (username, edu, workflag, 
      exp, money, city, image, 
      job, flag, info)
    values (#{username,jdbcType=VARCHAR}, #{edu,jdbcType=VARCHAR}, #{workflag,jdbcType=CHAR}, 
      #{exp,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{job,jdbcType=VARCHAR}, #{flag,jdbcType=CHAR}, #{info,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhaopin.pojo.Resume" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_resume
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
      <if test="edu != null" >
        edu,
      </if>
      <if test="workflag != null" >
        workflag,
      </if>
      <if test="exp != null" >
        exp,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="info != null" >
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="edu != null" >
        #{edu,jdbcType=VARCHAR},
      </if>
      <if test="workflag != null" >
        #{workflag,jdbcType=CHAR},
      </if>
      <if test="exp != null" >
        #{exp,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=CHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaopin.pojo.Resume" >
    update t_resume
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="edu != null" >
        edu = #{edu,jdbcType=VARCHAR},
      </if>
      <if test="workflag != null" >
        workflag = #{workflag,jdbcType=CHAR},
      </if>
      <if test="exp != null" >
        exp = #{exp,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=CHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaopin.pojo.Resume" >
    update t_resume
    set username = #{username,jdbcType=VARCHAR},
      edu = #{edu,jdbcType=VARCHAR},
      workflag = #{workflag,jdbcType=CHAR},
      exp = #{exp,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=CHAR},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>