<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <!--1、配置Shiro注解生效-->
    <bean id="advisorAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
        <property name="proxyTargetClass" value="true"></property>
    </bean>

    <!--授权拦截器-->
    <bean id="attributeSourceAdvisor" class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    </bean>

    <!--配置realm-->
    <bean id="LoginRealm" class="com.work.serviceimpl.shiro.loginShiro">
    </bean>

    <!--配置权限管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="LoginRealm"></property>
    </bean>
    <!--配置Shiro过滤器-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <property name="loginUrl" value="/login.html"></property>
        <property name="successUrl" value="/index.html"></property>
        <property name="unauthorizedUrl" value="unauthor.html"></property>
        <property name="filterChainDefinitions">
            <value>

            </value>
        </property>
    </bean>
</beans>