<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.work.mapper.job.JobMapper" >
  <resultMap id="BaseResultMap" type="com.work.domain.job.Job" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="salary" property="salary" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="edu" property="edu" jdbcType="VARCHAR" />
    <result column="exp" property="exp" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="required" property="required" jdbcType="VARCHAR" />
    <result column="comid" property="comid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, salary, address, edu, exp, info, required, comid, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_job
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_job
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.work.domain.job.Job" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_job (name, salary, address, 
      edu, exp, info, required, 
      comid, createtime)
    values (#{name,jdbcType=VARCHAR}, #{salary,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{edu,jdbcType=VARCHAR}, #{exp,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, #{required,jdbcType=VARCHAR}, 
      #{comid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.work.domain.job.Job" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_job
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="salary != null" >
        salary,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="edu != null" >
        edu,
      </if>
      <if test="exp != null" >
        exp,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="required != null" >
        required,
      </if>
      <if test="comid != null" >
        comid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="edu != null" >
        #{edu,jdbcType=VARCHAR},
      </if>
      <if test="exp != null" >
        #{exp,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="required != null" >
        #{required,jdbcType=VARCHAR},
      </if>
      <if test="comid != null" >
        #{comid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.work.domain.job.Job" >
    update t_job
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        salary = #{salary,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="edu != null" >
        edu = #{edu,jdbcType=VARCHAR},
      </if>
      <if test="exp != null" >
        exp = #{exp,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="required != null" >
        required = #{required,jdbcType=VARCHAR},
      </if>
      <if test="comid != null" >
        comid = #{comid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.work.domain.job.Job" >
    update t_job
    set name = #{name,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      edu = #{edu,jdbcType=VARCHAR},
      exp = #{exp,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      required = #{required,jdbcType=VARCHAR},
      comid = #{comid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>